/node_modules
/public/hot
/public/storage
/public/design
/public/images
/public/over
/storage/*.key
/storage/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
.DS_STORE
/.cloud/elastic/*
/.cloud/nodejs/*
*.rdb
