/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/design/
/.cloud/nodejs/*
/.cloud/elastic/*
/.cloud/redis/data/*
/.cloud/mysql_db/*
/public/design/*
/public/images/*
/public/over/*
/public/product/preview-images/*
**/.DS_Store
