@media screen {
  [class^="icon-"],
  [class*=" icon-"] {
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .icon-bars:before {
    content: "\e908"; }
  .icon-canvas:before {
    content: "\e90e"; }
  .icon-caret-right:before {
    content: "\f0da"; }
  .icon-caret-up:before {
    content: "\e910"; }
  .icon-crown:before {
    content: "\e92b"; }
  .icon-caret-down:before {
    content: "\e933"; }
  .icon-plus:before {
    content: "\e974"; }
  .icon-sign-in:before {
    content: "\e98c"; }
  .icon-templates-stack:before {
    content: "\e994"; }
  div,
  span,
  p,
  a,
  img,
  i,
  ul,
  li,
  form,
  label,
  header,
  nav {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; }
  ul {
    list-style: none; }
  a img {
    border: none; }
  header,
  nav {
    display: block; }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  p {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 13px;
    line-height: 1.625em; } }

@media only screen and (max-width: 769px) {
  p {
    font-size: 17.6px;
    font-size: 1.1rem;
    line-height: 1.625em; } }

@media screen {
  a {
    color: white;
    text-decoration: none;
    outline: 0;
    line-height: inherit; }
  a:hover {
    color: #2fa1c7; }
  a:active {
    color: #2e88a7; }
  ul {
    margin-bottom: 0.273em; }
  ul {
    list-style: none outside; }
  li {
    padding-bottom: 0.273em; }
  .row {
    width: 100%;
    max-width: 1240px;
    min-width: 320px;
    margin: 0 auto; }
  .row.-fluid {
    max-width: none;
    padding-left: 0;
    padding-right: 0; }
  .row {
    padding-left: 20px;
    padding-right: 20px; }
  .columns {
    margin-left: 1.66667%;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .columns:first-child {
    margin-left: 0; }
  .row .twelve.columns {
    width: 100%; }
  img {
    max-width: 100%;
    height: auto; }
  img {
    -ms-interpolation-mode: bicubic; }
  .row {
    *zoom: 1; }
  .row:before,
  .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; } }

@media only screen and (max-width: 768px) {
  .row {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0; }
  .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0; }
  .columns:last-child {
    margin-right: 0;
    float: none; }
  [class*="column"]:before {
    display: table; }
  [class*="column"]:after {
    display: table;
    clear: both; } }

@media screen {
  i[class^="icon-"],
  i[class*=" icon-"] {
    position: absolute;
    text-decoration: none;
    zoom: 1; }
  i[class^="icon-"],
  i[class*=" icon-"] {
    display: inline-block;
    position: static;
    min-width: 20px;
    margin: 0 5px;
    text-align: center; }
  ._hidden {
    display: none !important; }
  .nav-item-container {
    margin: 10px 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .nav-item-container:not(.for-mobile) {
    overflow: hidden; }
  .nav-item-container:hover > .dropdown-list {
    visibility: visible; }
  .nav-item-container:hover .nav-item-icon {
    color: #fff; }
  .nav-item-container > .nav-item {
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out; }
  .nav-item-container .nav-dropdown-btn {
    display: none; }
  .nav-item-container.-to-right > .dropdown-list {
    left: auto;
    right: 0; }
  .nav-item-container > .dropdown-list {
    visibility: hidden;
    -webkit-transition: visibility 150ms ease-in-out, opacity 300ms ease-in-out;
    transition: visibility 150ms ease-in-out, opacity 300ms ease-in-out;
    max-height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 30px;
    padding-top: 20px;
    overflow: hidden;
    z-index: 10000;
    will-change: filter; }
  .nav-item-container:not(.for-mobile):hover {
    overflow: visible; }
  .nav-item-container:not(.for-mobile):hover:not(.-no-hover) > .nav-item {
    background: rgba(255, 255, 255, 0.2); }
  .nav-item-container:not(.for-mobile):hover > .dropdown-list {
    max-height: unset;
    opacity: 1;
    overflow: visible; }
  .nav-item-container .nav-dropdown-btn:checked ~ .dropdown-list {
    max-height: unset;
    opacity: 1;
    overflow: visible; } }

@media screen and (min-width: 1240px) {
  .nav-item-container {
    margin: 10px 4px; } }

@media screen {
  .nav-item {
    background: rgba(255, 255, 255, 0);
    border-radius: 2px;
    color: black;
    padding: 7px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    font-size: 17px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
  .nav-item:hover {
    color: #868686; }
  .nav-item.profile-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .nav-item .nav-item-icon {
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: bold;
    min-width: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 0 0 10px; }
  .navbar {
    background: white;
    position: relative;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 0 4px 1px #d0d0d09c; }
  .navbar > .primary-nav,
  .navbar > .user-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap; }
  .navbar > .user-options {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 0 10px; }
  .navbar.-nomargin {
    margin-bottom: 0; }
  .navbar .logo-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .navbar .logo-wrapper {
    -webkit-transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform-box: fill-box;
    transform-box: fill-box; }
  .navbar .logo-wrapper:hover {
    -ms-transform: scale(1.025);
    -webkit-transform: scale(1.025);
    transform: scale(1.025); }
  .navbar .logo-img {
    min-width: 150px;
    max-width: 160px;
    padding-left: 13px;
    vertical-align: middle; } }

@media screen and (min-width: 769px) {
  .navbar .logo-img {
    padding-bottom: 1px; } }

@media screen {
  .inline-search-form {
    -webkit-transition: box-shadow 150ms ease-in-out;
    transition: box-shadow 150ms ease-in-out;
    background: #e6e6e6;
    cursor: text;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-transition: box-shadow 150ms ease-in-out;
    transition: box-shadow 150ms ease-in-out;
    border-radius: 8px; }
  .inline-search-form:not(.-outlined):active,
  .inline-search-form:not(.-outlined):hover,
  .inline-search-form:not(.-outlined):focus {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16); }
  .inline-search-form .search-input:focus + .search-submit,
  .inline-search-form .search-input:active + .search-submit {
    color: #f73959; }
  .inline-search-form .search-input {
    border: none;
    background: none;
    color: #6f6f6f;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; }
  .inline-search-form .search-input:focus {
    outline: none; }
  .inline-search-form .search-submit {
    color: #c5c5c5;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    font-size: 24px;
    margin: 0; }
  .inline-search-form .search-submit.mobile-search-submit {
    margin: 0 20px; }
  .inline-search-form .search-submit:hover {
    color: #f73959; }
  .inline-search-form.-mobile {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.16);
    left: 0;
    width: 100%;
    top: 60px;
    position: absolute;
    -webkit-transition: opacity 300ms ease-in-out, max-height 250ms ease-in-out;
    transition: opacity 300ms ease-in-out, max-height 250ms ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 9999; }
  .inline-search-form.-mobile .mobile-search-form {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .inline-search-form.-mobile .mobile-search-input {
    width: 100%;
    height: 100%;
    padding: 20px 30px; }
  .inline-search-form.-mobile .mobile-search-submit {
    color: #c5c5c5; }
  .dropdown-list .list-container {
    background: #fff;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    padding: 15px 0; }
  .dropdown-list .list-container.-mobile-list {
    display: none;
    right: 103%;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    width: auto; }
  .dropdown-list .list-container.-mobile-list.-selected {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .dropdown-list .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    margin: 0 10px; }
  .dropdown-list .list > .list-item {
    padding: 0;
    font-size: 0;
    line-height: 0; }
  .dropdown-list .list > .list-item.-selected > .item {
    background: #f7f7f7;
    color: white; }
  .dropdown-list .list > .list-item.-with-list {
    position: relative; }
  .dropdown-list .list > .list-item.-with-list .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .dropdown-list .list.has-user-input .item {
    max-width: 230px;
    text-overflow: ellipsis;
    overflow: hidden; }
  .dropdown-list .item {
    border-radius: 2px;
    color: #636792;
    cursor: pointer;
    display: block;
    -webkit-transition: color 150ms ease-in-out, background 150ms ease-in-out;
    transition: color 150ms ease-in-out, background 150ms ease-in-out;
    font-size: 15px;
    line-height: 18px;
    margin: 3px 0;
    width: 100%;
    padding: 12px 20px;
    white-space: nowrap; }
  .dropdown-list .item > .icon {
    margin: 0;
    min-width: 0;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .dropdown-list .item.header {
    color: #2a2e5c;
    font-size: 16px; }
  .dropdown-list .item.cta,
  .dropdown-list .item.header {
    font-weight: 600; }
  .dropdown-list .item:not(.-no-hover):hover {
    background: #f7f7f7;
    color: #000; }
  .dropdown-list .item.-no-hover {
    cursor: default; }
  .dropdown-list .nav-scroller {
    border-radius: 3px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0;
    font-size: 14px;
    font-weight: 200;
    line-height: 14px;
    left: 0;
    text-align: center;
    padding: 3px 10px;
    position: absolute;
    z-index: 10000; }
  .dropdown-list .nav-scroller.-invisible {
    visibility: hidden; }
  .dropdown-list .nav-scroller:hover .scroll-icon-container {
    color: white; }
  .dropdown-list .nav-scroller .scroll-icon-container {
    background: #fff;
    color: #6f6f6f;
    margin: 2px 0;
    -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    transition: background 150ms ease-in-out, color 150ms ease-in-out; }
  .dropdown-list .scroller-icon {
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    font-size: 20px;
    line-height: 24px; }
  .dropdown-list .nav-scroll-to-top {
    top: 0; }
  .dropdown-list .nav-scroll-to-top .scroller-icon {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .dropdown-list .nav-scroll-to-bottom {
    bottom: 0; } }

@media screen and (max-width: 768px) {
  .dropdown-list .item {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen {
  .btn-gradient {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: linear-gradient(to right, #1a82e1, #4a51d3, #026fd4, #3e30d4);
    border-radius: 2px;
    background-position: 0;
    background-size: 300% 300%;
    cursor: pointer;
    height: 40px;
    text-align: center;
    letter-spacing: 0.03rem;
    -webkit-transition: background-position 150ms ease-in-out;
    transition: background-position 150ms ease-in-out;
    padding: 5px;
    margin: 0 10px; }
  .btn-gradient .text {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase; }
  .btn-gradient:hover {
    background-position: 100% 0; }
  .action-btn-container {
    -webkit-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: #f73859;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 23px;
    line-height: 23px;
    height: 40px;
    padding: 0 8px; }
  .action-btn-container .action-btn-icon {
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    margin: 0 1px; }
  .action-btn-container .action-btn-text {
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    font-weight: 500; }
  .action-btn-container:not(.-passive):hover,
  .action-btn-container:not(.-passive):active,
  .action-btn-container:not(.-passive):focus {
    background: #d82746;
    color: white; }
  .action-btn-container:not(.-passive):hover .action-btn-icon,
  .action-btn-container:not(.-passive):hover .action-btn-text,
  .action-btn-container:not(.-passive):active .action-btn-icon,
  .action-btn-container:not(.-passive):active .action-btn-text,
  .action-btn-container:not(.-passive):focus .action-btn-icon,
  .action-btn-container:not(.-passive):focus .action-btn-text {
    color: white; }
  .action-btn-container.-white {
    background: #fff;
    color: #7f7f7f; }
  .action-btn-container .action-btn-icon {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 2px; }
  #nav {
    height: 60px;
    -webkit-transition: box-shadow 150ms ease-in-out;
    transition: box-shadow 150ms ease-in-out; }
  #nav #label-hamburger-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #nav #create-design-cta:before {
    display: none; }
  #nav .nav-item,
  #nav .create-design-long {
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent; }
  #nav .create-design-long-container {
    padding: 7px 5px 7px 10px; }
  #nav .create-design-long {
    margin: auto; }
  #nav #nav-create-design-dropdown {
    left: 32%;
    transform: translateX(-30%); }
  #nav #nav-create-design-dropdown .list-container {
    padding: 7px 0; }
  #nav #nav-create-design-list .item {
    padding: 12px 9px; }
  #nav #nav-create-design-list .item .item-icon {
    font-size: 18px;
    vertical-align: bottom;
    margin: 0 13px 0 0; }
  #nav .for-user {
    display: none; }
  #nav:not(.-payg) .for-payg {
    display: none; }
  #nav:not(.-premium) .for-premium {
    display: none; }
  #nav .premium-icon {
    font-weight: bold;
    margin: 0 6px 0 -2px;
    min-width: 0; }
  #nav .create-design-long,
  #nav .create-design-medium {
    max-width: 200px;
    line-height: 16px;
    font-size: 16px; }
  #nav .create-design-medium {
    word-break: break-all;
    max-width: 100px; }
  #nav .animate-icon .icon-to-animate {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 2px;
    vertical-align: middle;
    -webkit-transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out; }
  #nav .animate-icon:hover .icon-to-animate {
    transform: translateX(5px); }
  #nav #navuser {
    overflow: visible; }
  #nav #navuser .nav-item {
    padding: 0; }
  #nav .create-design-short {
    font-size: 24px;
    margin: 0;
    padding: 0 2px;
    text-align: center; }
  #nav #label-hamburger-menu:before {
    display: none; }
  #nav #nav-search-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 10px 0 10px;
    padding: 8px;
    border-radius: 6px; }
  #nav .nav-dropdown-btn:checked ~ #label-hamburger-menu {
    background: #fff; }
  #nav .nav-dropdown-btn:checked ~ #label-hamburger-menu .action-btn-icon {
    color: white; }
  #nav #nav-search-input {
    max-height: 24px;
    height: 24px;
    width: 140px;
    max-width: 140px; }
  #nav #nav-search-input::-webkit-input-placeholder,
  #nav #nav-mobile-search-input::-webkit-input-placeholder {
    color: #c5c5c5;
    opacity: 1; }
  #nav #nav-search-input:-moz-placeholder,
  #nav #nav-mobile-search-input:-moz-placeholder {
    color: #c5c5c5;
    opacity: 1; }
  #nav #nav-search-input::-moz-placeholder,
  #nav #nav-mobile-search-input::-moz-placeholder {
    color: #c5c5c5;
    opacity: 1; }
  #nav #nav-search-input:-ms-input-placeholder,
  #nav #nav-mobile-search-input:-ms-input-placeholder {
    color: #c5c5c5; }
  #nav #nav-search-input::-ms-input-placeholder,
  #nav #nav-mobile-search-input::-ms-input-placeholder {
    color: #c5c5c5; }
  #nav #mobile-search-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
  #nav .mobile-search-container:before {
    display: none; }
  #nav #mobile-search-bar {
    display: none; }
  #nav #mobile-search-bar:checked ~ #mobile-search {
    opacity: 1;
    max-height: 100px; }
  #nav #mobile-search-bar:checked ~ .mobile-search-container {
    color: white; }
  #nav #navuser {
    margin-left: 0; }
  #nav #nav-themes-list,
  #nav #nav-sizes-list {
    min-width: 170px; }
  #nav #nav-login-signup-cta {
    padding: 0 12px; }
  #nav #nav-login-signup-cta .action-btn-icon {
    margin: 0 5px 2px 0; }
  #nav #nav-hamburger-list-container {
    position: relative; }
  #nav #nav-hamburger-list {
    max-height: 400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto; }
  #nav #nav-hamburger-list::-webkit-scrollbar {
    display: none; } }

@media screen and (min-width: 1550px) {
  #nav .logo-container {
    margin-right: 100px; } }

@media screen and (min-width: 1400px) {
  #nav #nav-search-input {
    width: 204px;
    max-width: 204px; } }

@media screen and (min-width: 1500px) {
  #nav #nav-search-input {
    width: 256px;
    max-width: 256px; } }

@media screen and (min-width: 1001px) {
  #nav .create-design-long {
    display: inherit; }
  #nav .primary-nav .nav-item-container {
    min-width: 90px; }
  #nav .create-design-medium-container {
    display: none; } }

@media screen and (max-width: 1000px) {
  #nav .create-design-long-container {
    display: none; }
  #nav .create-design-medium-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #nav #nav-create-design-dropdown {
    opacity: 0;
    display: none; }
  #nav #create-design-cta-checkbox:checked ~ #nav-create-design-dropdown {
    opacity: 1;
    display: block; }
  #nav .btn-gradient {
    padding: 7px; } }

@media screen and (max-width: 1250px) and (min-width: 769px) {
  #logo .logo-img {
    min-width: 130px;
    max-width: 140px;
    width: 140px; } }

@media screen and (min-width: 1025px) {
  .logo-container {
    margin-right: 40px; } }

@media screen and (max-width: 1024px) {
  #nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  #nav .user-options {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; } }

@media screen and (max-width: 920px) {
  #explore-nav-item {
    display: none; } }

@media screen and (max-width: 768px) {
  #nav #navuser .dropdown-list {
    display: none; }
  #nav .side-btn {
    margin: 0 5px; }
  #nav #nav-hamburger-list {
    right: 0;
    left: auto; }
  #nav .action-btn-text.login-btn-text {
    display: none; }
  #nav #nav-login-signup-cta {
    padding: 0 8px; } }

@media screen and (min-width: 591px) and (max-width: 768px) {
  #nav .create-design-long-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #nav .create-design-medium-container {
    display: none; }
  #nav #nav-create-design-dropdown .item {
    padding: 12px 12px; }
  #nav .btn-gradient {
    padding: 5px 7px 5px 10px; } }

@media screen and (min-width: 591px) {
  #nav .create-design-short {
    display: none; } }

@media screen and (max-width: 590px) {
  #nav .create-design-medium-container {
    display: none; } }

@media screen and (max-width: 1189px) {
  #nav:not(.-loggedin) #nav-search-form {
    display: none; } }

@media screen and (min-width: 1190px) {
  #nav:not(.-loggedin) .mobile-search-container {
    display: none; }
  #nav:not(.-loggedin) #mobile-search {
    display: none; } }

@media screen and (max-width: 400px) {
  #nav:not(-loggedin) #nav-login-signup-cta {
    display: none; }
  #nav:not(-loggedin) #nav-create-design-dropdown {
    left: -40px; } }

@media screen and (max-width: 350px) {
  #nav:not(-loggedin) #nav-create-design-cta {
    display: none; } }

@media screen {
  form {
    margin: 0 0 18px; }
  form label {
    display: block;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.625em;
    cursor: pointer;
    margin-bottom: 9px; }
  .-premium-color {
    color: #eec100 !important; }
  .-premium-color.-premium-color-hover:focus {
    color: #eec100 !important; }
  .-premium-color.-premium-color-hover:hover,
  .-premium-color.-premium-color-hover:active {
    color: #d4ac00 !important; }
  .unsupported-browser-banner {
    background: #b4401f;
    box-sizing: content-box;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    margin: auto;
    text-align: center;
    padding: 7px 5px;
    position: relative;
    width: 100%;
    z-index: 100000000; }
  .unsupported-browser-banner > a {
    color: #fff;
    font-weight: 700;
    text-decoration: none; }
  .unsupported-browser-banner > a:hover,
  .unsupported-browser-banner > a:active,
  .unsupported-browser-banner > a:visited {
    color: #fff;
    text-decoration: underline; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -1px; }
  .hidden {
    display: none; }
  form label {
    margin-bottom: 0;
    margin-top: 7px; }
  #nav-notification-container {
    min-height: 34px; }
  #nav-notification {
    background: #e86b12;
    color: #fff;
    font-size: 1em;
    height: inherit;
    line-height: 1.5em;
    min-height: 0;
    padding: 5px 0 5px 5px;
    z-index: 2500;
    top: -40px;
    -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1); }
  input[type="checkbox"] {
    display: none; }
  input[type="checkbox"] + label:before {
    display: inline-block; }
  input[type="checkbox"] + label:before {
    content: "\e92e";
    font-size: 27px;
    left: 0;
    position: relative;
    top: -1px;
    vertical-align: middle; }
  input[type="checkbox"]:checked + label:before {
    content: "\e92d"; }
  .-premium-color {
    color: #eec100 !important; }
  .-premium-color.-premium-color-hover:focus {
    color: #eec100 !important; }
  .-premium-color.-premium-color-hover:hover,
  .-premium-color.-premium-color-hover:active {
    color: #d4ac00 !important; }
  .visible-small-laptop {
    display: none !important; }
  .visible-desktop {
    display: inherit !important; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .visible-small-laptop {
    display: inherit !important; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .visible-desktop {
    display: none !important; } }

@media screen and (max-width: 480px) {
  .visible-desktop {
    display: none !important; } }

@media screen {
  *,
  *::before,
  *::after {
    box-sizing: inherit; } }
