@charset "UTF-8";
.f0hiXs2f {
  fill: currentColor;
  height: 1em; }

.yducsd44 {
  height: 65px; }

@media (min-width: 750px) {
  .yducsd44 {
    display: none; } }

.KlMn5auq {
  font-size: 1.2rem;
  margin-bottom: 2px;
  max-width: 22px; }

.Pwa91aRM {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh; }

.aeEIJ0Oi {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 9000; }

.iA5PAkih {
  color: #959597;
  cursor: pointer;
  display: none;
  line-height: 0;
  outline: none;
  position: relative; }

.nEpAyrlb {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column; }

.vs3__w6e {
  align-items: center;
  background: none;
  border: 0;
  color: #505050;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: .75rem;
  font-weight: 400;
  line-height: 14px;
  outline: 0;
  padding: 15px 0;
  position: relative;
  text-align: center; }

.vs3__w6e.yNxzCqtd {
  color: #383838;
  font-weight: 600; }

.vs3__w6e.yNxzCqtd:after {
  background: #523ee8;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

@media (min-width: 400px) {
  .iA5PAkih {
    display: inline-block; } }

.Y8B0rMYR {
  background-color: #303030;
  border-radius: 6px;
  color: #fff;
  display: none;
  font-size: 12px;
  font-style: inherit;
  font-weight: 400;
  left: 50%;
  letter-spacing: 0;
  line-height: 14px;
  line-height: 1.4;
  padding: 10px;
  position: absolute;
  transform: translate(-50%, -8px);
  width: 170px; }

.Y8B0rMYR.LBIWVYxj {
  bottom: calc(100% + 8px);
  transform: translateX(-50%); }

.Y8B0rMYR.LBIWVYxj:after {
  border-top: 5px solid #303030;
  bottom: -5px; }

.Y8B0rMYR:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%); }

.iA5PAkih.fZgJpwQj {
  display: inline-block; }

@media (max-width: 749px) {
  .Y8B0rMYR.SgR6kXef {
    left: auto;
    right: 0;
    transform: none; }
  .Y8B0rMYR.SgR6kXef:after {
    left: auto;
    right: 8px; } }

.EnawCRza {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 100; }

.HbV3rXzN .Y8B0rMYR {
  white-space: nowrap;
  width: auto; }

.MHpx2FCM {
  z-index: 1; }

.MnYus99x {
  cursor: pointer;
  display: block;
  left: 10px;
  margin-top: 6px;
  position: relative;
  top: 0;
  z-index: 1; }

.RN7zpzqN {
  height: 20px;
  width: 20px; }

.ROjO8oOw {
  background-color: transparent;
  border: 0;
  color: inherit;
  color: #e40046;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;
  position: relative; }

.ROjO8oOw:focus .fMdfaJgH,
.ROjO8oOw:hover .fMdfaJgH,
.MnYus99x:hover .RN7zpzqN {
  filter: brightness(70%); }

.Y2SkMErw {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2px 10px 0;
  transition: color .15s ease-in-out; }

._n0J0gGK {
  align-items: flex-start;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  transition: opacity .15s ease-in-out;
  width: 100%;
  box-sizing: border-box; }

img.itemImg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.fMdfaJgH {
  height: 23px; }

.hxFZwp8w {
  align-items: center;
  display: flex;
  padding: 0 10px; }

.iA5PAkih:focus .Y8B0rMYR,
.iA5PAkih:hover .Y8B0rMYR {
  display: block; }

@media (min-width: 750px) {
  ._n0J0gGK {
    padding: 1px 16px 17px 18px; } }

.d6YhEXPR {
  align-self: flex-start;
  flex-grow: 1;
  min-width: 0; }

.dMnq_Lr8 {
  color: #303030;
  font-size: 12px;
  font-style: inherit;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  margin: 4px 18px;
  /* max-width: 95%; */
  /* overflow: hidden !important; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* inline-size: 183px; */
  /* overflow: hidden; */ }

.utcowRMZ {
  font-size: 12px;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.utcowRMZ a {
  position: relative;
  z-index: 1; }

.utcowRMZ a:hover {
  text-decoration: underline; }

.utcowRMZ,
.utcowRMZ a {
  color: #959597;
  font-weight: 700; }

@media (max-width: 749px) {
  .utcowRMZ {
    font-size: 10px;
    line-height: 14px; } }

.wnbOpC0l {
  left: 5px;
  top: 5px; }

@media (min-width: 750px) {
  .wnbOpC0l {
    left: 15px;
    top: 6px; } }

.iA5PAkih {
  color: #959597;
  cursor: pointer;
  display: none;
  line-height: 0;
  outline: none;
  position: relative; }

@media (min-width: 400px) {
  .iA5PAkih {
    display: inline-block; } }

.Y8B0rMYR {
  background-color: #303030;
  border-radius: 6px;
  color: #fff;
  display: none;
  font-size: 12px;
  font-style: inherit;
  font-weight: inherit;
  font-weight: 700;
  font-weight: 400;
  left: 50%;
  letter-spacing: 0;
  line-height: 14px;
  line-height: 1.4;
  padding: 10px;
  position: absolute;
  transform: translate(-50%, -8px);
  width: 170px; }

.Y8B0rMYR.LBIWVYxj {
  bottom: calc(100% + 8px);
  transform: translateX(-50%); }

.Y8B0rMYR.LBIWVYxj:after {
  border-top: 5px solid #303030;
  bottom: -5px; }

.Y8B0rMYR:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%); }

.iA5PAkih.fZgJpwQj {
  display: inline-block; }

@media (max-width: 749px) {
  .Y8B0rMYR.SgR6kXef {
    left: auto;
    right: 0;
    transform: none; }
  .Y8B0rMYR.SgR6kXef:after {
    left: auto;
    right: 8px; } }

.AA1EE83D {
  background-color: #fff; }

.HbV3rXzN .Y8B0rMYR {
  white-space: nowrap;
  width: auto; }

.WEqlS_5G {
  font-size: 9px;
  line-height: 1em;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%); }

.eLC5tHwk {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: #505050;
  cursor: pointer;
  flex-grow: 1;
  font-size: 12px;
  font-style: inherit;
  font-weight: inherit;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  line-height: 1.2em;
  outline: none;
  padding: 12px 35px 13px 15px; }

.eLC5tHwk option {
  color: #282828; }

.iA5PAkih:focus .Y8B0rMYR,
.iA5PAkih:hover .Y8B0rMYR {
  display: block; }

.jBXcSG6t {
  margin: auto;
  padding: 60px 20px;
  width: 100%; }

.yByqVOIe {
  background: #fff;
  border: 2px solid #e0e0e1;
  border-radius: 6px;
  color: #282828;
  display: flex;
  font-size: 11px;
  line-height: 1em;
  position: relative;
  transition: all .2s ease-in-out; }

@media (min-width: 750px) {
  .jBXcSG6t {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; } }

@media (min-width: 1000px) {
  .jBXcSG6t {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
    width: 95%; } }

@media (min-width: 1200px) {
  .jBXcSG6t {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    width: 1370px; } }

@media (min-width: 375px) and (max-width: 749px) {
  .jBXcSG6t {
    padding-bottom: 30px;
    padding-top: 30px; } }

@media (max-width: 999px) {
  .SNcU6rNK {
    font-size: 40px;
    font-style: inherit;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center; } }

@media (min-width: 1000px) {
  .SNcU6rNK {
    font-size: 26px;
    font-style: inherit;
    font-weight: inherit;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0; } }

.LQ9zKnGb {
  -moz-user-select: none;
  -webkit-user-select: none;
  align-items: center;
  border-radius: 3px;
  color: #303030;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  min-width: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
  user-select: none; }

.LQ9zKnGb:not(.tUz8vpIk):hover {
  background-color: #e0e0e1; }

@media (max-width: 374px) {
  .LQ9zKnGb {
    padding-left: 5px;
    padding-right: 5px; } }

@media (min-width: 375px) {
  .LQ9zKnGb {
    margin-right: 5px; } }

@media (min-width: 750px) {
  .LQ9zKnGb {
    margin-right: 10px; } }

.hZFJ5g_b {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 60px; }

.tUz8vpIk {
  color: #aeaeaf; }

.vHgjkrLA {
  font-size: 11px; }

.zWRu8yhu {
  background-color: #523ee8;
  color: #fff; }

@media (min-width: 480px) {
  .hZFJ5g_b {
    flex-wrap: nowrap;
    justify-content: center; } }

.SLi2_6Jp,
.cpiMRmby {
  align-items: center;
  display: flex; }

.cpiMRmby {
  flex: 0 0 auto; }

.lplK5odP {
  display: none; }

@media (min-width: 480px) {
  .lplK5odP {
    display: flex; } }

.FpTCNow5 {
  align-items: stretch;
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
  width: 100%; }

.HyLWiDjH {
  align-items: stretch;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity .15s ease-in-out; }

.HyLWiDjH:after {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0), #fafafa);
  content: "";
  height: 100%;
  width: 30px; }

.jF8YvPxc {
  margin: -8px;
  overflow-x: hidden;
  padding: 8px;
  position: relative; }

@media (min-width: 750px) {
  .HyLWiDjH:after {
    width: 60px; } }

.bhgufQ6f {
  align-items: center;
  background-color: transparent;
  background-color: #fafafa;
  border: 0;
  color: inherit;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0 15px 0 8px; }

.bhgufQ6f,
.lzjNLhdd {
  display: flex;
  justify-content: center; }

.lzjNLhdd {
  align-items: stretch;
  bottom: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .15s ease-in-out; }

.lzjNLhdd:before {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fafafa);
  content: "";
  height: 100%;
  width: 30px; }

@media (min-width: 750px) {
  .lzjNLhdd:before {
    width: 60px; } }

.AGuHURAT {
  list-style: none;
  margin: 0;
  padding: 0; }

.BiroUOAJ {
  opacity: 0; }

.C6Lv3KAO {
  color: #505050;
  height: 12px; }

.K2M1i3S_ {
  margin: 10px 20px 10px 0; }

.M9td4zg0 {
  align-items: flex-start;
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }

.OyjilzK5 {
  -o-object-fit: cover;
  border-radius: 30px;
  margin: 5px 10px 5px 5px;
  max-height: 30px;
  max-width: 30px;
  min-height: 30px;
  min-width: 30px;
  object-fit: cover; }

.PNW7Som0 {
  display: flex; }

.PNW7Som0:last-child {
  padding-right: 8px; }

.PNW7Som0:not(:last-child) {
  margin-right: 10px; }

.brjUfGeW {
  position: relative; }

.icCCJwMz {
  pointer-events: auto; }

.m58ZY2dp {
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  color: #505050;
  display: flex;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  white-space: nowrap; }

.m58ZY2dp:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); }

.pjq8xm0j {
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: nowrap;
  margin: -8px;
  overflow-x: scroll;
  padding: 8px;
  scrollbar-width: none; }

.pjq8xm0j::-webkit-scrollbar {
  display: none; }

.twAYSZt2,
.AGuHURAT,
.xPhOeJTI {
  align-items: center;
  display: flex; }

.twAYSZt2:not(:first-child) {
  margin-left: 30px; }

.xPhOeJTI {
  color: #505050;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5;
  margin-right: 10px; }

.x_UP53cd {
  align-items: center;
  background-color: transparent;
  background-color: #fafafa;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  outline: 0;
  padding: 0 8px 0 15px; }

.zsm934mk {
  margin-right: 5px;
  max-height: 19px;
  max-width: 19px;
  min-height: 19px;
  min-width: 19px; }

@media (min-width: 750px) {
  .M9td4zg0 {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; } }

@media (min-width: 1000px) {
  .M9td4zg0 {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
    width: 95%; } }

@media (min-width: 1200px) {
  .M9td4zg0 {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    width: 1370px; } }

.Ocm_Mx1a {
  align-items: center; }

.SrnSv3qf {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

@media (min-width: 750px) {
  .SrnSv3qf {
    flex-wrap: nowrap; } }

.WxjErMSd {
  margin-bottom: 20px;
  order: 1;
  width: 100%; }

@media (min-width: 750px) {
  .WxjErMSd {
    flex-basis: 260px;
    margin-left: auto;
    order: 2; } }

.LNTJGgij {
  order: 2; }

@media (min-width: 750px) {
  .LNTJGgij {
    order: 1; } }

.QLzW0Tal {
  flex-basis: 100%;
  margin-top: 20px;
  min-width: 0;
  z-index: 100; }

.QLzW0Tal:last-child {
  margin-right: 0; }

@media (min-width: 1200px) {
  .CTPdOQUg .QLzW0Tal {
    flex-basis: 100%;
    margin-right: 2.1897810219%;
    min-width: 0; }
  .CTPdOQUg .QLzW0Tal:last-child {
    margin-right: 0; } }

.M5DAz63W {
  display: inline-block;
  font-size: 12px;
  font-style: inherit;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px; }

.M5DAz63W:not(:first-child):before {
  color: #e40046;
  content: "/";
  font-weight: 700;
  margin: 0 4px; }

.T5vuSnA9 {
  line-height: 1em;
  list-style: none;
  margin: 0;
  padding: 0; }

.TDnT_QDN {
  color: inherit;
  font-weight: 700;
  text-decoration: none; }

.kb2fhv7t {
  color: #303030;
  color: #959597;
  font-size: 16px;
  font-size: 15px;
  font-style: inherit;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%; }

.qJyzQBny {
  min-height: 26px; }

@media (max-width: 749px) {
  .kb2fhv7t {
    font-size: 15px;
    font-size: 14px;
    font-style: inherit;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px; } }

@media (min-width: 750px) {
  .kb2fhv7t {
    margin-bottom: 0; } }

.gxUHa9Js {
  color: #303030;
  color: #959597;
  font-size: 15px;
  font-style: inherit;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 0;
  margin-top: 0; }

@media (max-width: 749px) {
  .gxUHa9Js {
    font-size: 14px;
    font-style: inherit;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px; } }

.SJ5W7Cap {
  align-items: center;
  background: linear-gradient(0deg, #f4f4f4, #f4f4f4);
  display: flex; }

.mIDWdUGM {
  display: inline-block;
  padding-right: .25em; }

.ufwFRNuO {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  width: 100%; }

@media (min-width: 750px) {
  .ufwFRNuO {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; } }

@media (min-width: 1000px) {
  .ufwFRNuO {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
    width: 95%; } }

@media (min-width: 1200px) {
  .ufwFRNuO {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    width: 1370px; } }

@media (min-width: 750px) {
  .ufwFRNuO {
    padding-bottom: 30px;
    padding-top: 30px; } }

.search-grid-container {
  column-count: 3;
  column-gap: 10px; }

.hILQ5O1m {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start; }

.iiyeEkHc {
  transition: opacity .1s ease;
  width: 100%; }

.r9m1sI3F {
  color: #505050;
  flex-basis: 100%;
  font-size: 24px;
  font-style: inherit;
  font-weight: 200;
  letter-spacing: 2.2px;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: 0;
  max-width: 700px;
  min-width: 0; }

.r9m1sI3F:before {
  clip: rect(0 0 0 0);
  content: "Â ";
  font-size: 0;
  font-weight: 200;
  height: 1px;
  line-height: 0;
  margin: -1px;
  position: absolute;
  width: 1px; }

figcaption {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  grid-column: 1;
  justify-self: auto; }

figure {
  border-radius: 10px;
  box-shadow: 0px 0px 4px #d7d7d7;
  break-inside: avoid;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  margin-bottom: 10px; }

figure a {
  color: #000;
  text-decoration: none; }

figure > img {
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  grid-column: 1;
  grid-row: 1 / -1;
  text-align: left;
  transition: translate .18s, box-shadow .18s; }

img {
  display: block;
  max-width: 100%; }

@media only screen and (max-width: 600px) {
  .M9td4zg0 {
    padding: 0; } }

@media screen and (max-width: 1024px) {
  .M9td4zg0 {
    padding: 0; } }

@media only screen and (max-width: 600px) {
  .search-grid-container {
    column-count: 2; } }

@media only screen and (min-width: 600px) {
  .search-grid-container {
    column-count: 2; } }

@media only screen and (min-width: 768px) {
  .search-grid-container {
    column-count: 3; } }

@media only screen and (min-width: 992px) {
  .search-grid-container {
    column-count: 3; } }

@media only screen and (max-width: 1200px) {
  .LQ9zKnGb,
  .xPhOeJTI,
  .m58ZY2dp {
    font-size: 40px; }
  .M5DAz63W {
    font-size: 20px; }
  .eLC5tHwk {
    font-size: 33px;
    font-weight: 100;
    padding: 24px 70px 26px 30px; }
  .search-grid-container {
    column-count: 2; }
  .kb2fhv7t,
  .qJyzQBny {
    text-align: center; }
  h1.r9m1sI3F {
    font-size: 55px;
    font-weight: 400;
    max-width: initial;
    text-align: center; }
  a.m58ZY2dp {
    padding: 9px 26px; }
  .TDnT_QDN {
    font-weight: 200; }
  h2.gxUHa9Js {
    display: none; }
  .m58ZY2dp {
    border-radius: 40px; }
  .LQ9zKnGb,
  .xPhOeJTI,
  .m58ZY2dp {
    border-radius: 20px;
    font-size: 33px;
    font-weight: 100;
    padding: 35px 35px; }
  .d6YhEXPR {
    display: none; } }

@media only screen and (min-width: 1300px) {
  .search-grid-container {
    column-count: 4; } }

p.wt-text-title-01 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 2px; }

.search-grid-container p.wt-text-caption {
  margin-bottom: 2px; }

.search-grid-container p.wt-text-caption {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px; }

.search-grid-container
.wt-text-caption {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px; }

.wt-text-slime {
  color: #258635 !important; }

.wt-display-block {
  display: block !important; }

.wt-screen-reader-only {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.wt-text-strikethrough {
  text-decoration: line-through; }

.wt-text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  min-width: 0 !important; }

.wt-no-wrap {
  white-space: nowrap !important; }

p.wt-text-title-01 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px; }

.search-grid-container p.wt-text-caption {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px; }

.search-grid-container
.wt-text-caption {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px; }

.wt-text-slime {
  color: #258635 !important; }

.v2-listing-card .n-listing-card__price {
  white-space: normal; }

.v2-listing-card .n-listing-card__price p.wt-text-slime {
  line-height: 1.6; }

.v2-listing-card .n-listing-card__price p.wt-text-title-01 {
  padding-right: 4px; }
